<header>
  <h1 class="site-title"><a href="/"><img src="comps_logo_header.png"> {{ site.name }}</a></h1>
  <nav class="main-nav">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/about.html"><i class="fa fa-info-circle"></i>About</a></li>
        <li><a href="/calendar.html"><i class="fa fa-calendar"></i>Calendar</a></li>
        <li><a href="/resources.html"><i class="fa fa-book"></i>Resources</a></li> 
        <li><a href="/contact.html"><i class="fa fa-address-card-o"></i>Contact Us</a></li> 
      </ul>
    </div>
  </nav>
</header>
